<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestMEV.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>760D3ACD1EC5D9B500BDA623</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>760D3AE41EC5D9B600BDA623</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>760D3AEF1EC5D9B600BDA623</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
